@using cse325_team7_project.Api.DTOs
@using cse325_team7_project.Domain.Enums
@using cse325_team7_project.Domain.ValueObjects
@inject HttpClient HttpClient

@if (movieList == null || allMovies == null)
{
    <p>Loading movies...</p>
}
else
{
    <div class="movie-list-container">
        <div class="movie-list-header">
            <span>@movieList.Title</span>
            <button class="movie-copy-button">Copy Link</button>
        </div>

        <div class="movie-list">
            @foreach (var id in movieList.Movies)
            {
                // Check if the movie ID matches any of the IDs in allMovies
                var movie = allMovies.FirstOrDefault(m => m.Id == id);
                if (movie != null) // Only render the MovieItem if there's a match
                {
                    <MovieItem movie=@movie />
                }
            }
        </div>
    </div>
}

@code {
    [Parameter]
    public string? movieListId { get; set; }
    private List<MovieResponseDto>? allMovies { get; set; }
    private MoviesListResponseDto? movieList { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            allMovies = await HttpClient.GetFromJsonAsync<List<MovieResponseDto>>($"api/movies");
            movieList = await HttpClient.GetFromJsonAsync<MoviesListResponseDto>($"api/lists/{movieListId}");

        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error loading movies from API: {ex.Message}");
            allMovies = GetPlaceholderMovies();
            movieList = GetPlaceholderList();
        }
    }

    private List<MovieResponseDto> GetPlaceholderMovies()
    {
        return [
        new MovieResponseDto(
            Id: "one",
            Title: "Play Dirty",
            ReleaseDate: new DateOnly(2025, 1, 1),
            Genre: Genre.Crime,
            Description: "Expert thief Parker gets a shot at a major heist...",
            Studio: "Team Downey",
            Cast: new List<CastMember>
            {
            new CastMember { Role = CastRole.Actor, Name = "Mark Wahlberg"},
            new CastMember { Role = CastRole.Actor, Name = "LaKeith Stanfield"},
            new CastMember { Role = CastRole.Actor, Name = "Rosa Salazar"},
            new CastMember { Role = CastRole.Actor, Name = "Keegan-Michael Key"},
            new CastMember { Role = CastRole.Actor, Name = "Claire Lovering"},
            new CastMember { Role = CastRole.Director, Name = "Shane Black"},
            new CastMember { Role = CastRole.Producer, Name = "Susan Downey"},
            new CastMember { Role = CastRole.Producer, Name = "Jules Daly"},
            new CastMember { Role = CastRole.Producer, Name = "Marc Toberoff"},
            new CastMember { Role = CastRole.Editor, Name = "Chris Lebenzon"},
            new CastMember { Role = CastRole.Editor, Name = "Joel Negron"},
            },
            Image: "https://image.tmdb.org/t/p/w500/ovZ0zq0NwRghtWI1oLaM0lWuoEw.jpg",
            ThumbnailImage: "https://image.tmdb.org/t/p/w200/ovZ0zq0NwRghtWI1oLaM0lWuoEw.jpg",
            Budget: 2500000m,
            CreatedAt: DateTime.Now,
            UpdatedAt: DateTime.Now
            ),
        new MovieResponseDto(
            Id: "two",
            Title: "Demon Slayer: Kimetsu no Yaiba Infinity Castle",
            ReleaseDate: new DateOnly(2025, 1, 1),
            Genre: Genre.Animation,
            Description: "The Demon Slayer Corps are drawn into the Infinity Castle...",
            Studio: "ufotable",
            Cast: new List<CastMember>
            {
            new CastMember { Role = CastRole.Actor, Name = "Natsuki Hanae"},
            new CastMember { Role = CastRole.Actor, Name = "Hiro Shimono"},
            new CastMember { Role = CastRole.Actor, Name = "Takahiro Sakurai"},
            new CastMember { Role = CastRole.Actor, Name = "Akira Ishida"},
            new CastMember { Role = CastRole.Actor, Name = "Yoshitsugu Matsuoka"},
            new CastMember { Role = CastRole.Director, Name = "Haruo Sotozaki"},
            new CastMember { Role = CastRole.Producer, Name = "Masanori Miyake"},
            new CastMember { Role = CastRole.Producer, Name = "Yuma Takahashi"},
            new CastMember { Role = CastRole.Producer, Name = "Tatsuro Hayashi"},
            new CastMember { Role = CastRole.Producer, Name = "Takao Shimazaki"},
            new CastMember { Role = CastRole.Editor, Name = "Manabu Kamino"},
            },
            Image: "https://image.tmdb.org/t/p/w500/sUsVimPdA1l162FvdBIlmKBlWHx.jpg",
            ThumbnailImage: "https://image.tmdb.org/t/p/w200/sUsVimPdA1l162FvdBIlmKBlWHx.jpg",
            Budget: 20000000m,
            CreatedAt: DateTime.Now,
            UpdatedAt: DateTime.Now
            ),
        new MovieResponseDto(
            Id: "three",
            Title: "The Fantastic 4: First Steps",
            ReleaseDate: new DateOnly(2025, 1, 1),
            Genre: Genre.ScienceFiction,
            Description: "Against the vibrant backdrop of a 1960s-inspired, retro-futuristic world...",
            Studio: "Marvel Studios",
            Cast: new List<CastMember>
            {
            new CastMember { Role = CastRole.Actor, Name = "Pedro Pascal"},
            new CastMember { Role = CastRole.Actor, Name = "Vanessa Kirby"},
            new CastMember { Role = CastRole.Actor, Name = "Ebon Moss-Bachrach"},
            new CastMember { Role = CastRole.Actor, Name = "Joseph Quinn"},
            new CastMember { Role = CastRole.Actor, Name = "Ralph Ineson"},
            new CastMember { Role = CastRole.Director, Name = "Matt Shakman"},
            new CastMember { Role = CastRole.Producer, Name = "Kevin Feige"},
            new CastMember { Role = CastRole.Editor, Name = "Nona Khodai"},
            new CastMember { Role = CastRole.Editor, Name = "Tim Roche"},
            },
            Image: "https://image.tmdb.org/t/p/w500/cm8TNGBGG0aBfWj0LgrESHv8tir.jpg",
            ThumbnailImage: "https://image.tmdb.org/t/p/w200/cm8TNGBGG0aBfWj0LgrESHv8tir.jpg",
            Budget: 200000000m,
            CreatedAt: DateTime.Now,
            UpdatedAt: DateTime.Now
            ),
        new MovieResponseDto(
            Id: "four",
            Title: "The Fantastic 4: First Steps",
            ReleaseDate: new DateOnly(2025, 1, 1),
            Genre: Genre.ScienceFiction,
            Description: "Against the vibrant backdrop of a 1960s-inspired, retro-futuristic world...",
            Studio: "Marvel Studios",
            Cast: new List<CastMember>
            {
            new CastMember { Role = CastRole.Actor, Name = "Pedro Pascal"},
            new CastMember { Role = CastRole.Actor, Name = "Vanessa Kirby"},
            new CastMember { Role = CastRole.Actor, Name = "Ebon Moss-Bachrach"},
            new CastMember { Role = CastRole.Actor, Name = "Joseph Quinn"},
            new CastMember { Role = CastRole.Actor, Name = "Ralph Ineson"},
            new CastMember { Role = CastRole.Director, Name = "Matt Shakman"},
            new CastMember { Role = CastRole.Producer, Name = "Kevin Feige"},
            new CastMember { Role = CastRole.Editor, Name = "Nona Khodai"},
            new CastMember { Role = CastRole.Editor, Name = "Tim Roche"},
            },
            Image: "https://image.tmdb.org/t/p/w500/cm8TNGBGG0aBfWj0LgrESHv8tir.jpg",
            ThumbnailImage: "https://image.tmdb.org/t/p/w200/cm8TNGBGG0aBfWj0LgrESHv8tir.jpg",
            Budget: 200000000m,
            CreatedAt: DateTime.Now,
            UpdatedAt: DateTime.Now
            ),
        new MovieResponseDto(
            Id: "five",
            Title: "The Fantastic 4: First Steps",
            ReleaseDate: new DateOnly(2025, 1, 1),
            Genre: Genre.ScienceFiction,
            Description: "Against the vibrant backdrop of a 1960s-inspired, retro-futuristic world...",
            Studio: "Marvel Studios",
            Cast: new List<CastMember>
            {
            new CastMember { Role = CastRole.Actor, Name = "Pedro Pascal"},
            new CastMember { Role = CastRole.Actor, Name = "Vanessa Kirby"},
            new CastMember { Role = CastRole.Actor, Name = "Ebon Moss-Bachrach"},
            new CastMember { Role = CastRole.Actor, Name = "Joseph Quinn"},
            new CastMember { Role = CastRole.Actor, Name = "Ralph Ineson"},
            new CastMember { Role = CastRole.Director, Name = "Matt Shakman"},
            new CastMember { Role = CastRole.Producer, Name = "Kevin Feige"},
            new CastMember { Role = CastRole.Editor, Name = "Nona Khodai"},
            new CastMember { Role = CastRole.Editor, Name = "Tim Roche"},
            },
            Image: "https://image.tmdb.org/t/p/w500/cm8TNGBGG0aBfWj0LgrESHv8tir.jpg",
            ThumbnailImage: "https://image.tmdb.org/t/p/w200/cm8TNGBGG0aBfWj0LgrESHv8tir.jpg",
            Budget: 200000000m,
            CreatedAt: DateTime.Now,
            UpdatedAt: DateTime.Now
            ),
        new MovieResponseDto(
            Id: "six",
            Title: "The Fantastic 4: First Steps",
            ReleaseDate: new DateOnly(2025, 1, 1),
            Genre: Genre.ScienceFiction,
            Description: "Against the vibrant backdrop of a 1960s-inspired, retro-futuristic world...",
            Studio: "Marvel Studios",
            Cast: new List<CastMember>
            {
            new CastMember { Role = CastRole.Actor, Name = "Pedro Pascal"},
            new CastMember { Role = CastRole.Actor, Name = "Vanessa Kirby"},
            new CastMember { Role = CastRole.Actor, Name = "Ebon Moss-Bachrach"},
            new CastMember { Role = CastRole.Actor, Name = "Joseph Quinn"},
            new CastMember { Role = CastRole.Actor, Name = "Ralph Ineson"},
            new CastMember { Role = CastRole.Director, Name = "Matt Shakman"},
            new CastMember { Role = CastRole.Producer, Name = "Kevin Feige"},
            new CastMember { Role = CastRole.Editor, Name = "Nona Khodai"},
            new CastMember { Role = CastRole.Editor, Name = "Tim Roche"},
            },
            Image: "https://image.tmdb.org/t/p/w500/cm8TNGBGG0aBfWj0LgrESHv8tir.jpg",
            ThumbnailImage: "https://image.tmdb.org/t/p/w200/cm8TNGBGG0aBfWj0LgrESHv8tir.jpg",
            Budget: 200000000m,
            CreatedAt: DateTime.Now,
            UpdatedAt: DateTime.Now
            ),

        ];
    }

    private MoviesListResponseDto GetPlaceholderList()
    {
        return new MoviesListResponseDto(
        Id: "one",
        Title: "My Favorite Movies",
        Movies: new List<string> { "one", "two", "three", "four", "five", "six" },
        CreatedAt: DateTime.UtcNow,
        UpdatedAt: DateTime.UtcNow
        );
    }
}