@using Microsoft.AspNetCore.Components.Forms

<a class="logo-container" href="/">
<img class="logo" src="img/logo.svg"/>
</a>

<EditForm Model="@searchModel">
    <InputText class="search-bar" @bind-Value="searchModel.Title" placeholder="Search movies..."></InputText>
</EditForm>

<nav>
    <div class="nav-item px-5">
        <NavLink class="navLink user-link" href="/" Match="NavLinkMatch.All">
        User
        </NavLink>
    </div>
</nav>

@code
{
    // Simple search model - no need for full domain model
    private SearchModel searchModel = new SearchModel();
    
    //placeholder for search functionality
    public class SearchModel
    {
        public string Title { get; set; } = string.Empty;
    }
}


